*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container
{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 500px;
    align-self: center;
    border-radius: 25px;
}
.row
{
    display: flex;
    flex-direction: row;
}
.col
{
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    align-items: center;
}
.container>.row
{
    width: 100%;
    justify-content: space-evenly;
    margin-top: 65px;
}
#profile
{
    border-radius: 50%;
    border: 2px solid rgb(117, 76, 155);
    width: 150px;
    height: 150px;
    outline: none;
}
.name
{
    font-size: xx-large;
    font-weight: bold;
}
.score
{
    font-size: xx-large;
    font-weight: bold;
}
.runs
{
    width: 200px;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: bold;
}
#strike
{
    background: blueviolet;
    width: 200px;
    height: 40px;
    font-size: large;
    color: white;
    border-radius: 20px;
    padding: 1;
}